<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
        <div class="logo-company">
          <a href=""><img src="https://mysoftltd.com/ms-logo.png" alt=""></a>
        </div>
       
      <div id="close-sidebar"> <i class="fas fa-bars"></i></div>
    </div>
    <div class="sidebar-header">
      <div class="user-pic"> <img class="img-responsive img-thumbnail img-circle" src="https://mysoftltd.com/avatar.png" alt="User picture"></div>
      <div class="user-info"> <span class="user-name">Masud Ahmed </span> <span class="user-role">Administrator</span> <span class="user-status">  </span> </div>
    </div>
  
    <div class="sidebar-menu">
      <ul>
        <li> <a class="nav-link" routerLink="/{{basePath}}/administration/dashboard" routerLinkActive="activeNav"> <i class="fa fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
        <li class="sidebar-dropdown" routerLinkActive="activeNav"> <a > <i class="fas fa-user-graduate"></i> <span>Students</span>  </a>
          <div class="sidebar-submenu">
            <ul>
           
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/student/dashboard" routerLinkActive="activeNav">
                <i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a> </li>
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/student/student-list" routerLinkActive="activeNav">
                <i class="fas fa-user-graduate"></i> <span>Student List</span>
              </a> </li>
            </ul>
          </div>
        </li>

        <li class="sidebar-dropdown" routerLinkActive="activeNav"> <a > <i class="fas fa-user-lock"></i> <span>Teacher</span>  </a>
          <div class="sidebar-submenu">
            <ul>
           
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/teacher/dashboard" routerLinkActive="activeNav">
                <i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a> </li>
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/teacher/teacher-list" routerLinkActive="activeNav">
                <i class="fas fa-user-tie"></i> <span>Teacher List</span>
              </a> </li>
            
            </ul>
          </div>
        </li>

        <li class="sidebar-dropdown" routerLinkActive="activeNav"> <a > <i class="fas fa-university"></i> <span>Instittute</span>  </a>
          <div class="sidebar-submenu">
            <ul>
           
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/institute/dashboard" routerLinkActive="activeNav">
                <i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a> </li>
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/institute/institute-list" routerLinkActive="activeNav">
                <i class="fas fa-list-ol"></i> <span>Institute List</span>
              </a> </li>
            
            </ul>
          </div>
        </li>

        <li class="sidebar-dropdown" routerLinkActive="activeNav"> <a > <i class="fas fa-university"></i> <span>Campus</span>  </a>
          <div class="sidebar-submenu">
            <ul>
           
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/campus/dashboard" routerLinkActive="activeNav">
                <i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a> </li>
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/campus/campus-list" routerLinkActive="activeNav">
                <i class="fas fa-list-ol"></i> <span>Campus List</span>
              </a> </li>
            
            </ul>
          </div>
        </li>

        <li class="sidebar-dropdown" routerLinkActive="activeNav"> <a > <i class="fas fa-user-lock"></i> <span>Security & Settings</span>  </a>
          <div class="sidebar-submenu">
            <ul>
           
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/security-settings/dashboard" routerLinkActive="activeNav">
                <i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a> </li>
              <li routerLinkActive="activeNavsub"> <a class="nav-link" routerLink="/{{basePath}}/security-settings/user" routerLinkActive="activeNav">
                <i class="far fa-address-book"></i> <span>User List</span>
              </a> </li>
            </ul>
          </div>
        </li>

 
        
        <div *ngFor="let item of navMenuList">
          <div *ngIf="item?.children.length > 0">
            <label>{{item.displayName}}</label>
            <div class="dropdown-container">
              <div *ngFor="let item2 of item.children">
                <div *ngIf="item2.children.length > 0">
                  <strong> .>{{item2.displayName}}</strong>
                  <div class="dropdown-container">
                    <div *ngFor="let item3 of item2.children">
                      <div *ngIf="item3?.children.length > 0">
                         ..>>{{item3.displayName}}
                        <div class="dropdown-container">
                          <div *ngIf="item3.children">
                            <div *ngFor="let item4 of item3.children">
                              <div *ngIf="item4?.children.length > 0">
                                 ...>>>  {{item4.displayName}}
                                <div class="dropdown-container">
                                </div>
                              </div>
                              <div *ngIf="item4?.children.length == 0 ">
                                <a href="" routerLink="/{{item4.route}}" routerLinkActive="activeNav">
                                  <i class="{{item4.iconName}}"></i>...>>>{{item4.displayName}}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="item3?.children.length == 0">
                        <a href="" routerLink="/{{item3.route}}" routerLinkActive="activeNav">
                          <i class="{{item3.iconName}}"></i>..>>{{item3.displayName}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="item2?.children.length == 0">
                  <a href="" routerLink="/{{item2.route}}" routerLinkActive="activeNav">
                    <i class="{{item2.iconName}}"></i>.>{{item2.displayName}}</a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="item?.children.length == 0">
            <a href="" routerLink="/{{item.route}}" routerLinkActive="activeNav">
              <i class="{{item.iconName}}"></i> <strong>{{item.displayName}}</strong> </a>
          </div>
      </div>
        
        
       
        
       
      </ul>
    </div>
    <!-- sidebar-menu  --> 
  </div>
  <!-- sidebar-content  -->
  
</nav>



