<div class="pt-4 pb-4 p-2">
    <div class="row m-0 p round-field">
        <div class="col-md-6 mt-2">
            <label for="Training" class="form-label mb-0">Training Name</label>
            <input type="text" class="form-control" id="Training">
        </div>
        <div class="col-md-6 mt-2">
            <label for="TrInstitution" class="form-label mb-0"> Tr.Institution</label>
            <input type="text" class="form-control" id="TrInstitution">
        </div>

        <div class="col-md-12 mt-2">

            <label for=" TrDescription" class="form-label mb-0"> Tr.Description</label>
            <div class="input-group">
                <textarea class="form-control" id="Description" rows="2"></textarea>

            </div>


        </div>




    </div>

    <div class="row m-0 round-field rounded bg-exp-area mt-3 pt-3 pb-3">
        <div class="col-md-4 mt-2">
            <label class="form-label mb-0"> Join Date</label>
            <input type="text" class="form-control datePicker" bsDatepicker placement="top">
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label mb-0"> Resign Date</label>
            <input type="text" class="form-control datePicker" bsDatepicker placement="top">
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label mb-0"> Certificate Date</label>
            <input type="text" class="form-control datePicker" bsDatepicker placement="top">
        </div>
        <div class="col-md-4 mt-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ceFlag">
                <label class="form-check-label" for="ceFlag">
                    Certificate Flag
                </label>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Status">
                <label class="form-check-label" for="Status">
                    Status
                </label>
            </div>
        </div>
    </div>
</div>