<div class="students-others-info">
  <form>
    <div class="row m-0">
      <div class="col-md-5 p-3 bg-block-leftinfo">
        <div class="row round-field">
          <div class="col-md-12">
            <h4 class="bold-title">Present Address</h4>
          </div>
          <div class="col-md-12 mb-2">
            <label for="Address" class="form-label mb-0">Street Address</label>
            <input type="text" class="form-control" id="Address" />
          </div>
          <div class="col-md-12 mb-2">
            <label for="Village" class="form-label mb-0">Village</label>
            <input type="text" class="form-control" id="Village" />
          </div>
          <div class="col-md-12 mb-2">
            <label for="Union" class="form-label mb-0">Union</label>
            <input type="text" class="form-control" id="Union" />
          </div>

          <div class="col-md-12 mb-2">
            <label for="PostOffice" class="form-label mb-0">Post Office</label>
            <input type="text" class="form-control" id="PostOffice" />
          </div>
          <div class="col-md-12 mb-2">
            <label for="Thana" class="form-label mb-0">Thana/Upazila</label>
            <input type="text" class="form-control" id="Thana" />
          </div>
          <div class="col-md-12 mb-2">
            <label for="District" class="form-label mb-0">District</label>
            <select id="District" class="form-select">
              <option selected>Choose...</option>
              <option>Rajbari</option>
            </select>
          </div>
          <div class="col-md-12 mb-2">
            <label for="Country" class="form-label mb-0">Country</label>
            <select id="Country" class="form-select">
              <option selected>Choose...</option>
              <option>Bangladesh</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <input
          (change)="copyPresentAddressToPermanentAddress($event)"
          type="checkbox"
          class="btn-addrees form-check-input"
        />
      </div>

      <div class="col-md-5 p-3 bg-block-leftinfo-right">
        <div class="col-md-12">
          <h4 class="bold-title">Permanent Address</h4>
        </div>
        <div class="row round-field">
          <div class="col-md-12 mb-2">
            <label for="Address" class="form-label mb-0">Street Address</label>
            <input type="text" class="form-control" id="Address" />
          </div>
          <div class="col-md-12 mb-2">
            <label for="Village" class="form-label mb-0">Village</label>
            <input type="text" class="form-control" id="Village" />
          </div>

          <div class="col-md-12 mb-2">
            <label for="Union" class="form-label mb-0">Union</label>
            <input
              type="text"
              class="form-control"
              id="Union"
              formControlName="union"
            />
          </div>

          <div class="col-md-12 mb-2">
            <label for="PostOffice" class="form-label mb-0">Post Office</label>
            <input
              type="text"
              class="form-control"
              id="PostOffice"
              formControlName="postOffice"
            />
          </div>
          <div class="col-md-12 mb-2">
            <label for="Thana" class="form-label mb-0">Thana/Upazila</label>
            <input
              type="text"
              class="form-control"
              id="Thana"
              formControlName="thana"
            />
          </div>
          <div class="col-md-12 mb-2">
            <label for="District" class="form-label mb-0">District</label>
            <select
              id="District"
              class="form-select"
              formControlName="district"
            >
              <option selected>Choose...</option>
              <option>Rajbari</option>
            </select>
          </div>
          <div class="col-md-12 mb-2">
            <label for="Country" class="form-label mb-0">Country</label>
            <select id="Country" class="form-select" formControlName="country">
              <option selected>Choose...</option>
              <option>Bangladesh</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
