.btn-addrees::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  display: inline-block;
  padding-left: 2.4rem;
  vertical-align: middle;
  color: white;
  margin-top: -0.8rem;
}

.btn-addrees {
  width: 100px;
  margin-top: 214%;
  background: #4caf50;
  background: linear-gradient(to right, #4caf50 0%, #b2ba63 100%);
  border: 0px;
  padding: 6px;
  border-radius: 40px !important;
  height: 1.7rem;
}

.btn-addrees:checked {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  width: 100px;
  margin-top: 214%;
  background: #4caf50;
  background: linear-gradient(to right, #4caf50 0%, #b2ba63 100%);
  border: 0px;
  padding: 6px;
  border-radius: 40px !important;
}
