<div class="pt-4 pb-4 p-2">
  <div class="row m-0 p round-field">
    <div class="col-md-6 mt-2">
      <label for="job" class="form-label mb-0">Job Description</label>
      <input type="text" class="form-control" id="job" />
    </div>
    <div class="col-md-6 mt-2">
      <label for="Institute" class="form-label mb-0"> Institute Name</label>
      <input type="text" class="form-control" id="Institute" />
    </div>

    <div class="col-md-12 mt-2">
      <label for="Description" class="form-label mb-0">Description</label>
      <div class="input-group">
        <textarea class="form-control" id="Description" rows="2"></textarea>
      </div>
    </div>
  </div>

  <div class="row m-0 round-field rounded bg-exp-area mt-3 pt-3 pb-3">
    <div class="col-md-4 mt-2">
      <label class="form-label mb-0">Tr.Start Date</label>
      <input
        type="text"
        class="form-control datePicker"
        bsDatepicker
        placement="top"
      />
    </div>
    <div class="col-md-4 mt-2">
      <label class="form-label mb-0">End Date</label>
      <input
        type="text"
        class="form-control datePicker"
        bsDatepicker
        placement="top"
      />
    </div>
    <div class="col-md-4 mt-2">
      <label class="form-label mb-0"> Certification Date</label>
      <input
        type="text"
        class="form-control datePicker"
        bsDatepicker
        placement="top"
      />
    </div>
    <div class="col-md-4 mt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ceFlag" />
        <label class="form-check-label" for="ceFlag"> Certificate Flag </label>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="Status" />
        <label class="form-check-label" for="Status"> Status </label>
      </div>
    </div>
  </div>
</div>
