
.state-overview{
    color: #fff;font-family: 'Roboto', sans-serif;
}

.info-box {
    min-height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}
.info-box-icon {
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 30px;
    line-height:66px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}
.info-box-icon.push-bottom {
    margin-top: 20px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.info-box-icon i {
    font-size: 22px;
}
.info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 90px;
}
.info-box-text, .progress-description {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.info-box-text, .progress-description {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.info-box-number {
    font-weight: 300;
    font-size: 21px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px 0;
    height: 2px;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.bg-b-green {
    background: linear-gradient(
45deg, #1db395, #1db395);
}
.bg-b-yellow {
    background: linear-gradient(
45deg
, #ffb64d, #ffcb80);
}
.bg-b-blue {
    background: linear-gradient(
45deg
, #4099ff, #73b4ff);
}
.bg-b-pink {
    background: linear-gradient(
45deg
, #ff5370, #ff869a);
}

