


<div class="row container-fluid">
    <h3>Global Dashboard</h3>

    <div class="col-3">
        <button type="button" class="btn btn-primary" routerLink="/educare/administration/dashboard">Administration Dashboard</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-info" routerLink="/educare/student/dashboard">Student Dashboard</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-warning" routerLink="/educare/teacher/dashboard">Teacher Dashboard</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-danger" routerLink="/educare/security-settings/dashboard">Security & Setings Dashboard</button>
    </div>
</div>