<div class="modal-content">
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title" id="exampleModalLabel">Add Student</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="addStudentModalRef.hide()"
    >
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-top-form-area pb-0 pt-2">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Student Info"
                />
                <label for="floatingInput">Student Info</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Student ID"
                />
                <label for="floatingInput">Student ID</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Student Name"
                />
                <label for="floatingInput">Student Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Password"
                />
                <label for="floatingInput">Password</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Personal ID"
                />
                <label for="floatingInput">Personal ID</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Default Pagelink"
                />
                <label for="floatingInput">Default Pagelink</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-2 cudtom-floating-input">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Expiry Status"
                />
                <label for="floatingInput">Expiry Status</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="student-profile-avatar">
            <span class="patientPic">
              <!-- <img alt="Patient Picture" src="{{profileImg}}"> -->
              <img alt="Patient Picture" src="{{ profileAvatar }}" />
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-3 bg-status-all">
        <div class="col-md-4">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Active Status</label
            >
          </div>
          <div class="col-md-4">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault3"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault3"
                >Account Enabled</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 p-0">
          <div class="tabArea custom-tab custom-tab-less-padd">
            <tabset #tabset>
              <tab
                *ngFor="let tab of tabs"
                [heading]="tab.title"
                [active]="tab.active"
                (select)="
                  tab.active = true; tab.initiated = true; onSelect(tab)
                "
                (deselect)="tab.active = false"
                [disabled]="tab.disabled"
                [customClass]="tab.customClass"
              >
                <ng-container
                  *ngIf="tab.content == 'PerosnalDetails' && tab.initiated"
                >
                  <app-persona-details
                    (event)="receivePersonalInfoData($event)"
                  ></app-persona-details>
                </ng-container>
                <ng-container *ngIf="tab.content == 'family' && tab.initiated">
                  <app-student-family
                    (event)="receiveFamilyInfoData($event)"
                  ></app-student-family>
                </ng-container>
                <ng-container
                  *ngIf="tab.content == 'Education' && tab.initiated"
                >
                  <app-student-education
                    (event)="receiveEducationInfoData($event)"
                  ></app-student-education>
                </ng-container>
                <ng-container
                  *ngIf="tab.content == 'Document' && tab.initiated"
                >
                  <app-student-document></app-student-document>
                </ng-container>
                <ng-container
                  *ngIf="tab.content == 'Experience' && tab.initiated"
                >
                  <app-student-experience></app-student-experience>
                </ng-container>
                <ng-container
                  *ngIf="tab.content == 'Achievement' && tab.initiated"
                >
                  <app-student-achievement></app-student-achievement>
                </ng-container>
                <ng-container *ngIf="tab.content == 'Award' && tab.initiated">
                  <app-student-award></app-student-award>
                </ng-container>
                <ng-container
                  *ngIf="tab.content == 'Training' && tab.initiated"
                >
                  <app-student-training></app-student-training>
                </ng-container>
                <ng-container
                  *ngIf="tab.content == 'Signature' && tab.initiated"
                >
                  <app-tea-signature></app-tea-signature>
                </ng-container>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 p-0">
        <div class="tabArea custom-tab custom-tab-less-padd">
          <tabset #tabset>
            <tab
              *ngFor="let tab of tabs"
              [heading]="tab.title"
              [active]="tab.active"
              (select)="tab.active = true; tab.initiated = true; onSelect(tab)"
              (deselect)="tab.active = false"
              [disabled]="tab.disabled"
              [customClass]="tab.customClass"
            >
              <ng-container
                *ngIf="tab.content == 'PerosnalDetails' && tab.initiated"
              >
                <app-persona-details></app-persona-details>
              </ng-container>
              <ng-container *ngIf="tab.content == 'family' && tab.initiated">
                <app-student-family></app-student-family>
              </ng-container>
              <ng-container *ngIf="tab.content == 'Education' && tab.initiated">
                <app-student-education></app-student-education>
              </ng-container>
              <ng-container *ngIf="tab.content == 'Document' && tab.initiated">
                <app-student-document></app-student-document>
              </ng-container>
              <ng-container
                *ngIf="tab.content == 'Experience' && tab.initiated"
              >
                <app-student-experience></app-student-experience>
              </ng-container>
              <ng-container
                *ngIf="tab.content == 'Achievement' && tab.initiated"
              >
                <app-student-achievement></app-student-achievement>
              </ng-container>
              <ng-container *ngIf="tab.content == 'Award' && tab.initiated">
                <app-student-award></app-student-award>
              </ng-container>
              <ng-container *ngIf="tab.content == 'Training' && tab.initiated">
                <app-student-training></app-student-training>
              </ng-container>
              <ng-container *ngIf="tab.content == 'Signature' && tab.initiated">
                <app-tea-signature></app-tea-signature>
              </ng-container>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer footer-custom">
    <button type="button" class="btn btn-primary">Save</button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="addStudentModalRef.hide()"
    >
      Close
    </button>
  </div>
</div>

<!-- <div class="container">
  <button tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Add</button>

  <h3>Typeahead:</h3>
  <input [(ngModel)]="selected" [typeahead]="states" [isAnimated]="true" class="form-control">


  <h3>Ng Select :</h3>
  <ng-select [items]="cars" bindLabel="name" bindValue="id" [(ngModel)]="selectedCar" class="form-control">
  </ng-select>



  <hr>
  <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic">Toggle collapse
  </button>
  <hr>
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="well well-lg card card-block card-header">Some content</div>
  </div>

</div> -->
