<div class="modal-content">
    <div class="modal-header border-bottom-0">
      <h4 class="modal-title" id="exampleModalLabel">Add Campus</h4>
      <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="campusModalRef.hide()"
        > <i class="fas fa-arrow-left"></i> </button>
    </div>
    <div class="modal-body">
      <div class="modal-top-form-area pb-0 pt-2 pb-4">
        <div class="row">
          <div class="col-md-12">
            <div class="row round-field">
              <div class="col-md-6 mt-2">
                <label for="User" class="form-label mb-0">ID</label>
                <input  type="text" class="form-control"/>
              </div>
              <div class="col-md-6 mt-2">
                <label for="User" class="form-label mb-0">Institute Name</label>
                <ng-select [items]="institute" 
                bindLabel="name" 
                bindValue="id" 
                class="form-control custom-ngselect">
                </ng-select>
              </div>
            </div>
            <div class="row round-field">
                <div class="col-md-12 mt-2">
                    <label for="Organization" class="form-label mb-0">Campus Name</label>
                    <ng-select [items]="instituteCam" 
                    bindLabel="name" 
                    bindValue="id" 
                    class="form-control custom-ngselect">
                    </ng-select>
                  </div>
             
             
            </div>

            <div class="row round-field">
                <div class="col-md-12 mt-2">
                    <label for="id" class="form-label mb-0">Address</label>
                    <textarea rows="3" type="text" id="Address" formcontrolname="address" class="form-control"></textarea>
                  </div>
                
            </div>

         
          </div>
        </div>
      
      </div>
    </div>
    <div class="modal-footer footer-custom">
      <button type="button" class="btn btn-primary"> Save </button>
      <button
          type="button"
          class="btn btn-danger"
          (click)="campusModalRef.hide()"
        > Close </button>
    </div>
  </div>
  