<div class="pt-4 pb-4 p-2">
  <form [formGroup]="studentFamilyFormGroup" (change)="saveStudentFamilyInfo()">
    <div class="row m-0 p round-field" formGroupName="studentFamilyInfo">
      <div class="col-md-4 mt-2">
        <label for="Village" class="form-label mb-0">Member Name</label>
        <input
          type="text"
          class="form-control"
          id="Name"
          formControlName="memberName"
        />
      </div>
      <div class="col-md-4 mt-2">
        <label for="Country" class="form-label mb-0">Relation</label>
        <select id="Country" class="form-select" formControlName="relationNo">
          <option selected>Choose...</option>
          <option value="1">Father</option>
        </select>
      </div>
      <div class="col-md-4 mt-2">
        <label for="Village" class="form-label mb-0">Mobile Number</label>
        <input
          type="text"
          class="form-control"
          id="Mobile"
          formControlName="mobileNo"
        />
      </div>
      <div class="col-md-12 mt-2">
        <label for="Village" class="form-label mb-0">Address</label>
        <textarea
          type="text"
          class="form-control"
          id="Address"
          formControlName="address"
        ></textarea>
      </div>
    </div>
  </form>
</div>
