<div class="all-wrapper">
    <div class="state-overview">
      <div class="all-content-wrapper">
        <div class="dataTables_wrapper"> 
          
          <!-- crud-header -->
          <div class="crud-header">
            <div class="row">
              <div class="col-md-12 text-end">
                <button (click)="addInstituteModal()" type="button" class="btn btn-info">
                <i class="fas fa-plus me-1"></i>Add</button>
                <button (click)="editInstitute()" type="button" class="btn btn-warning">
                <i class="far fa-edit me-1"></i>Edit</button>
                <button  type="button" class="btn btn-warning btn-warning-custom">
                  <i class="fas fa-toggle-on me-1"></i>Disable</button>
                <button (click)="deleteInstitute()" type="button" class="btn btn-danger">
                <i class="far fa-trash-alt me-1"></i>Delete</button>
              </div>
            </div>
          </div>
          <!--end crud-header -->
          
          <div class="col-md-12">
            <div class=" custom-table-responsive table-white-space">
              <table #institutegridTable class="row-border hover">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  