
<div class="row container-fluid">
    <div class="col-12">
        <lib-header></lib-header>
        <hr>
        <div style="height: 300px;">
            <router-outlet></router-outlet>
        </div>

        <hr>
        <lib-footer></lib-footer>
    </div>
</div> 