<div class="page-wrapper chiller-theme sidebar-bg bg1 toggled"> <a id="show-sidebar" class="btn btn-sm btn-dark"> <i
            class="fas fa-bars"></i> </a>
    <lib-navigation></lib-navigation>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <lib-header></lib-header>

        <lib-sub-header></lib-sub-header>
        <div class="all-wrapper">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-12 p24">
            <div class="clearfix"></div>
            <lib-footer></lib-footer>
        </div>

    </main>
    <!-- page-content" -->
</div>



<!-- <div class="row container-fluid">
    <div class="col-2" style="border-right: 1px solid #d6caca;">
        <lib-navigation></lib-navigation>
    </div>
    <div class="col-10">
        <lib-header></lib-header>
        <hr>
        <lib-sub-header></lib-sub-header> 

        <div style="height: 300px;">
            <router-outlet></router-outlet>
        </div>

        <hr>
        <lib-footer></lib-footer>
    </div>
</div> -->

<!-- <div class="container">
    <hr> 
    <lib-navigation></lib-navigation>
    <lib-header></lib-header>
    <lib-sub-header></lib-sub-header> 
    <hr> 
    <div style="height: 300px;">
        <router-outlet></router-outlet>
    </div>
    
    <hr>
    <lib-footer></lib-footer>

</div> -->