<!-- <div class="login-page">
    <div class="form">
        <p style="margin-bottom: 10px; color: red;">{{errorMgs}}</p>
        <input type="text" [(ngModel)]="userName" placeholder="username"/>
        <input type="password" [(ngModel)]="password" placeholder="password"/>
        <button (click)="login()">login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
    </div>
</div> -->


<div id="logInMainArea"> 
    <!--
       add loginWrapper_golobal 
       class with  loginWrapper class
       -->
    <div class="loginWrapper loginWrapper_golobal"> 
      
      <!-- Please add class opacity_0  in header tag-->
      <header id="header">
        <div class="row">
          <div class="container-fluid"> <span> 
            <!-- <img src="assets/images/logo.png" alt="logo"> --> 
            </span> 
            <!-- <h2>
               Hospital Name
            </h2> --> 
          </div>
        </div>
      </header>
      <div class="container-fluid"> 
     <div class="banner-intro-box">
                      
  </div>
    <!-- <div class="img-part">
      <img class="up-down-new" src="assets/images/edb.png" alt="">
   </div> -->
        
        <div class="offset-md-3 col-md-5 col-sm-8 marginAuto" id="loginArea"> 
          <!-- <div class="logoTitle"><img src="assets/images/logo.png" class="logoLogin" alt="card-account-img"></div> -->
          
          <div id="loginform">
            <div class="errorMes">{{errorMgs}}</div>
            <div class="form-horizontal form-signin">
              <div class="topTilte"> 
               College Management 
                <div class="glow">&nbsp;</div>
              </div>
              <h4>Sign in</h4>
              <fieldset class="form-label-group">
                <div class="input-group lofinField">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
              
                  <input class="form-control" type="text" [(ngModel)]="userName" placeholder="username"/>
                  <!--<div *ngIf="isFieldInvalid('userName')"> <small id="userName" class="form-text text-muted authError">Please enter an user name.</small> </div>-->
                </div>
              </fieldset>
              <fieldset class="form-label-group">
                <div class="input-group lofinField">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
                  </div>
                  <input  class="form-control" type="password" [(ngModel)]="password" placeholder="password"/>
                  <i class="toggle-password"></i>
                 <!-- <div *ngIf="isFieldInvalid('password')"> <small id="password" class="form-text text-muted authError">Please enter password.</small> </div>-->
                </div>
              </fieldset>
            
                <div class="form-check text-start mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Remember
                    </label>
                  </div>

           
             
               
              <button class="btn-gradient-primary btnWidth btnOne mt-3"  (click)="login()"><!-- <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>--> Login&nbsp; <i class="fas fa-arrow-right"></i> </button>
              <p class="message mt-2">Not registered? <a href="#">Create an account</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footerContent">
    <p class="text-center">©2021 Mysoft Limited, All Rights Reserved</p>
  </footer>
  