/* @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
} */

/* @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
} */
.errorMes{
  background: #db3b21; color: #fff;
  color: aliceblue;
  position: absolute;top: 10px;
  width: 100%;
  left: 0px;
}
.loginWrapper{
    background:#0b78a7  url(../login-global/images/bg3.png) no-repeat; 
    background-size:cover;
  width: 100%; height: 100%; position: fixed;
}
/* .loginWrapper_golobal{ background:#0b78a7;} */
/* .loginWrapper:before{linear-gradient(-45deg, #2196F3 0%, #2196F3 33%, #00BFA5 100%)
   width:100%; height: 100%;
   content: 'url(../../../assets/images/bg.png)';
   display:block;
}*/
.logoTitle{ width:130px; margin: auto; margin-top: 110px; margin-bottom: 12px; }
div#loginform {
   width:94%;
   background:#fff; position: relative;
   
   border-top: solid 54px #17a561; 
   /* border-bottom: solid 22px #d8e1e4; */
   border-bottom: solid 3px #17a561;
   padding: 21px; padding-bottom: 30px;
   border-radius:0 0 10px 10px;    box-shadow: 0px 1px 4px #0c0c0c;padding-left: 8%;
   padding-right: 8%;
   
}
#loginform h4{ 
  color: #17a561;
   font-family: Verdana !important;font-size: 26px;margin-top: 17px;
   margin-bottom: 2px;
  }
  .btnOne {
      background: #462be2;
      background: linear-gradient(to bottom, #462be2 1%,#4e31f7 53%,#5b43e8 53%,#6047ec 100%) !important;
          cursor: pointer;
          padding: 9px 5px;
          border: 0px;
          color: #fff;
          width: 230px;
          border-radius: 40px;
 
  } 
.logoLogin{ width: 100%;}
.loginFloat{ float: left;}
.input-group {
   margin-top: 12px;
} 
.toggle-password{
  position: absolute;
  right: 9px;
  top: 11px;
  color: #3f4644;
  font-size: 14px; cursor: pointer;
  z-index: 999;
  }
#loginform .form-control{border: solid 1px #9cc9d6; border-left: 0px;border-radius: 0px 4px 4px 0px;}
#loginform .input-group-text{background: #fff; color: #666;height: 38px;border-radius: 6px 0px 0px 6px !important;border: solid 1px #9cc9d6;}
#loginArea{
   position: absolute;
   top: 0;
   left: 4%;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
   text-align: center;
   z-index: 999;
}
.topTilte {
   position: absolute;
   /* width: 100%; */
   text-align: center;
   top: -42px;
   color: #fff;
   font-size: 23px; width:100%; text-align: left;
   /* left: 12px; */
}
header#header {
  width: 100%;
  float: left; padding: 16px;
}
header#header h2{
  float: left;
  margin-top: 12px;
  margin-left: 9px;
  color: #fff;
  /* font-weight: bold; */
  font-size: 35px;
}
header#header span{width: 66px;
  float: left;margin-left: 18px;}
  header#header span img{ width:100%;}
.headerTop{ display: none;}


/* auth eror  */
.authErrorArea{ width: 100%; position: relative;}
.authErrorArea .authError{
  top: -13px;
  bottom: inherit;
  left: 0px;
  width: 100%;

}
.lofinField{ position: relative; margin-bottom: 2px !important;}
.authError {
  position: absolute;
  left: 0px;
  bottom: -17px;
  color: #da0505 !important;
  font-size: 13px;
}
span.forgotPassword {
  float: right;
  /* top: 3px; */
  font-size: 17px;
  margin-top: 7px;color: #1a73e8;cursor: pointer;

}

footer#footerContent {
  width: 100%;
  float: left;
  /* border: solid; */color: #1a73e8;
  bottom: 0px;
  background: rgba(0,0,0, 0.3);
  position: absolute; padding: 6px;
}
footer#footerContent p{ margin-bottom: 0px;
  color: #e5e7e8;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 10px;}
  div#loginform:before {
      /* width: 31px;
      height: 54px;
      content: '';
      top: -54px;
      display: block;
      left: -12px;
      position: absolute;
      background: #07634e; */
  width: 31px;
      height: 54px;
      content:url(../login-global/images/ribbon1.png);
      top: -72px;
      display: block;
      left: -20px;
      z-index: 99;
      position: absolute;
      
  }

  div#loginform:after {
      /* width: 31px;
      height: 54px;
      content: '';
      top: -54px;
      display: block;
      right: -15px;
      position: absolute;
      background: #07634e; */
      width: 31px;
      height: 54px;
      content:url(../login-global/images/ribbon2.png);
      top: -55px;
      display: block;
      right: -23px;
      position: absolute;
     
  }
  .form-signin:before {
      width: 100%;
  height: 38px;
  background: #fff;
  display: block;
  content: '';
  position: absolute;
  left: 3px;
  top: -92px; border-radius: 10px 10px 0 0;
  }


  .loginFont{ font-size: 18px !important;}
  .glow {
      top: -15px;
      background: #fff;
      width: 40px;
      height: 185%;
      z-index: 999;
      position: absolute;
      -webkit-animation: flow 2.5s linear infinite;
      -moz-animation: flow 2.5s linear infinite;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(1%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
      border-left: 1px solid #fff
  }
  .ribbon-edge-topleft,.ribbon-edge-topright,.ribbon-edge-bottomleft,.ribbon-edge-bottomright{position:absolute;z-index:1;border-style:solid;height:0;width:0}
  .ribbon-edge-topleft,.ribbon-edge-bottomleft{left:-10px;border-color:transparent #033c2f transparent transparent}
  .ribbon-edge-topright,.ribbon-edge-bottomright{right:-10px;border-color:transparent transparent transparent #033c2f}
  .ribbon-edge-topleft {
      top: -30px;
      border-width: 18px 15px 0 0;
      left: -84px;
  
  }
  .ribbon-edge-bottomright {
      border-width: 0px 0 18px 15px;
      right: 56px;
      top: 42px;
  }

.loginFont:disabled{
  cursor: not-allowed;
  opacity: .65;
}
  
  @-webkit-keyframes flow {0%{left:-20px;opacity:0} 50%{left:40%;opacity:.3} 100%{left:75%;opacity:0} }
  
@keyframes flow {0%{left:-20px;opacity:0} 50%{left:40%;opacity:.3} 100%{left:75%;opacity:0} }

  

.img-part {
  width: 383px;
  position: absolute;
  top: 102px;
  right: 2%;
  z-index: 111;
  opacity: .4;
}
.img-part img{
  width: 100%;
}
.up-down {
  animation: up-down 4s alternate infinite;
  -webkit-animation: up-down 4s alternate infinite;
}
.up-down-new {
  animation: up-down 8s alternate infinite;
  -webkit-animation: up-down 8s alternate infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(30px);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(30px);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
