<div class="modal-content">
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="instituteModalRef.hide()"> <i
        class="fas fa-arrow-left"></i> </button>
  </div>
  <div class="modal-body">
    <div class="modal-top-form-area pb-0 pt-2">
      <div class="row">
        <div class="col-md-9">
          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="User" class="form-label mb-0">Institute Id</label>
              <input type="text" class="form-control" [(ngModel)]="instituteEntity.instituteId" />
            </div>
            <div class="col-md-6 mt-2">
              <label for="User" class="form-label mb-0">Institute Name</label>
              <ng-select [items]="institute" [(ngModel)]="instituteEntity.instituteName" bindLabel="name" bindValue="id"
                class="form-control custom-ngselect">
              </ng-select>
            </div>
          </div>
          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="Organization" class="form-label mb-0">Institute Campus</label>
              <ng-select [items]="instituteCam" [(ngModel)]="instituteEntity.instituteCampus" bindLabel="name"
                bindValue="id" class="form-control custom-ngselect">
              </ng-select>
            </div>
            <div class="col-md-6 mt-2">
              <label for="Company" class="form-label mb-0">Address</label>
              <input type="text" class="form-control" [(ngModel)]="instituteEntity.presentAddress" />
            </div>

          </div>

          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="id" class="form-label mb-0">Contact</label>
              <input type="text" class="form-control" [(ngModel)]="instituteEntity.contact" />
            </div>
            <div class="col-md-6 mt-2">
              <label for="id" class="form-label mb-0">Reg No.</label>
              <input type="text" class="form-control" [(ngModel)]="instituteEntity.regNo" />
            </div>
          </div>

          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="id" class="form-label mb-0">Status</label>
              <select class="form-select">
                <option>Active</option>
                <option>Inactive</option>
              </select>
            </div>
            <div class="col-md-6 mt-2">
              <label for="id" class="form-label mb-0">Email</label>
              <input type="text" class="form-control" [(ngModel)]="instituteEntity.email" />
            </div>
          </div>
        </div>
        <div class="col-md-3 pt-1 mb-3">
          <div class="student-profile-avatar mt-4">
            <div class="patientPic">
              <img alt="Patient Picture" src="{{ profileAvatar }}" />
              <p class="uploadImg text-center py-3">
                <button class="btn btn-info" type="button">
                  <input class="form-control" type="file" />
                  Select Logo
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer footer-custom">
    <button type="button" class="btn btn-primary" (click)="submit()"> {{ submitTitle }} </button>
    <button type="button" class="btn btn-danger" (click)="instituteModalRef.hide()"> Close </button>
  </div>
</div>