@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700|Ubuntu:400,500,700&amp;display=swap");
body{
    background: #eaeef3;font-family: 'Roboto', sans-serif;
}


/*-------------------------------------------------------------
page index-----------------
## logo-company
## page-bar
## paddig
## btn style
## modal custom css
## footer css
## table-white-space
## modal-custom style
## student-profile-avatar
# custom tab
## custom-tab-less-padd
## field css
## data table
## custom-table
## custom-ngselect
--------------------------------------*/
body{
    background: rgb(234, 238, 243) !important;
}
/* .datePicker {
    background:#fff url(../../student/src/assets/images/dateicon.png) no-repeat center right; 
  } */
/* logo-company */
.logo-company{
    background: #fff;
    border-radius: 40px;
    padding: 1px 16px;
    width: 109px;
    height: 30px;border: solid 1px #6c8bb1;
}
.logo-company img{
    width: 80px;
}
/* enf logo-company */
.datePicker {
  background:#fff ; 
  /* url(./assets/images/dateicon.png) no-repeat center right */
}
.form-control:focus {
    box-shadow: none !important;
}
.state-overview{
    width: 100%; float: left;
}
div.cudtom-floating-input .form-control{
    height: calc(.5rem + 2px);
    padding: 22px 0px;
    border: 0px;
    border-bottom: solid 1px #ddd;
    border-radius: 0px;
    /* padding-left: 0px !important; */
    /* font-size: 13px !important; */
}
.cudtom-floating-input label {
    color: #2f2f2f;
    padding: 1rem 0rem;
    font-size: 15px;
}
div.cudtom-floating-input>.form-control:focus~label, .cudtom-floating-input>.form-control:not(:placeholder-shown)~label, .cudtom-floating-input>.form-select~label {
    transform: scale(.85) translateY(-1.2rem) translateX(.0rem);opacity: .4;
}
div.cudtom-floating-input>.form-control:focus, .cudtom-floating-input>.form-control:not(:placeholder-shown){
padding-top: 34px;
}
div.form-control:focus{
    box-shadow: none;border-color: #5bba47;
}

.students-others-info {
    width: 98%;
    margin: 21px auto;
    background: #f2f3f2;
    border: solid 1px #eef0f5;
}
.bg-block-leftinfo{
    background: #ffffff;
    border-right: solid 1px #eef0f5;
}
.bg-block-leftinfo-right {
    background: #e8ece8;
    border-left: solid 1px #e8e8e8;
}

/* ===============table-white-space================= */
.table-white-space th{
white-space: nowrap;
}
.table-white-space td{
    white-space: nowrap;
    }

/* paddig */
.p24{
    padding: 24px;
}
/* btn style */
.btn-info {
    color: #fff !important;
    background-color: #3abaf4 !important;
    border-color: #3abaf4 !important;
}
.btn-info:hover{
    color: #fff !important;
}
.btn-danger {
    background-color: #ff4266 !important;
    border-color: #ff4266 !important;
}
.btn {
    padding: 4px 10px !important;
    border-radius: 0px !important;
    font-size: 14px !important;
}
button.btn-warning-custom{
    color: #fffcfc;
    background-color: #a09163;
    border-color: #a09163;
} 
button.btn-warning-custom:hover{
    color: #fffcfc;
    background-color: #8e7c47;
    border-color: #8e7c47;
} 

button.btn-warning-custom:focus{
    background-color: #8e7c47;
    border-color: #8e7c47; color: #fffcfc;
}
.full-width{
    width: 100%;
    float: left;
}
.all-content-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    background: #fff;
    padding: 14px;
    margin-top: 25px;
    border-radius: 9px;
    box-shadow: -8px 12px 18px 0 #dadee8;
}
/*=============== modal custom css ====================*/
.modal-header .close{
    background: #5bba47;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    width: 48px;
    position: absolute;
    z-index: 9;
    height: 32px;
    border-radius: 0px 20px 0px 19px;
    border: 0px;
    right: -1px;
    top: -1px;
}
.modal-header {
    padding: 9px 23px;
}
.modal-header h4 {
    font-size: 23px;
    color: #5bba47;
}
.modal-content {
    border: 1px solid #fff;
    border-radius: 20px !important;
    /* border: 0px; */
}
/* ========footer css=============== */
p.footer-p {
    width: 96%;
    height: auto;
    padding: 12px;
    background: #fff;
    border-radius: 40px;
    color: #4bb136;
    margin:20px auto;
    box-shadow: -8px 12px 18px 0 #dadee8;
}
/* crud-header css */
.crud-header {
    border-bottom: solid 2px #eaeef3;
    margin-bottom: 17px;
    padding-bottom: 9px;
}
.crud-header .btn{
    margin-left: 1px !important;
}
.crud-header .btn:first-child{
    border-radius: 4px 0px 0px 4px !important;
}
.crud-header .btn:last-child{
    border-radius: 0px 4px 4px 0px !important;
}
.all-wrapper {
    width: 98%;
    margin: auto;
    min-height: 460px;
}
/* page-bar */
 .page-bar{
    background-color: #eaeef3;
    position: relative;
    width: 95%;
    margin: auto;
    margin-top: 40px;
}
.page-title {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #666;
    border-left: solid 2px #1880c9;
    padding-left: 12px;
}

.page-bar .page-breadcrumb {
    background-color: #dcf2e4;
    border-color: #dcf2e4;
    width: auto;
    padding: 6px 14px;
    text-align: center;
    color: #000;
    border-radius: 40px;
    box-shadow: 0px 2px 10px #daddf1;
    display: inline-block;
    margin: 0px;
  
}
.page-bar .page-breadcrumb > li {
    display: inline-block;padding: 0px 4px;
}
.page-bar li > a {
    color: #888;
    font-size: 14px;
    text-shadow: none; text-decoration: none;
}
.page-bar li i {
    color: #aaa;
    font-size: 12px;
    text-shadow: none;
}

/* data table */

table.dataTable{
    border: solid 1px #ddd;
    width: 100% !important;
}
table.dataTable thead th {
    padding: 5px 18px !important;
    background-color: #eef8fd !important;
    color: #000 !important;
    font-size: 13px !important;
}

table.dataTable thead th{border-bottom: solid 1px #f1f1f1 !important;}
.paginate_button.current{
color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
color: #007bff !important;

}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 7px 8px !important;
    border-top: 1px solid #f9f1f1 !important;font-size: 14px;
}
table.dataTable.display tbody tr.odd>.sorting_1{
background-color: transparent  !important;
}
table.dataTable.display tbody tr.even>.sorting_1{
background-color: transparent !important;
}
table.dataTable.no-footer{
    border-bottom: 1px solid #dddddd !important;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: .5em;
}
.dataTables_filter input {
    border: 1px solid #afd2ea !important;
    border-radius: 42px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 26px !important;
    background: #fff !important;
}
.dataTables_filter label {
    color: #0f87a2;
    margin-bottom: 0;
}
.dataTables_length select {
    height: 26px  !important;
    border: 1px solid #85aeca  !important;
    border-radius: 4px  !important;
    background: #fff !important;
    padding: 0px !important;
}
.dataTables_length label {
    color: #0f87a2;
    left: 10px;
    position: relative;margin-bottom: 4px;
   
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: .755em;color: #076979!important;
}
 div.dataTables_paginate {
    order: 1px solid #dcd5d5 !important;
    padding-top: 0;
    border-radius: 4px;
    margin-top: 6px!important;
    background: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff!important;
    border: 0!important;
    background: #007bff!important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    margin-left: 2px; padding: 0 8px!important;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;border-right: 1px solid #d7d7d7!important;
    color: #007bff!important;
}

.student-avatar {
    width: 40px;
    height: 40px;
    float: left;
}
.student-avatar img {
    width: 100%;
    border-radius: 40px;
    height: 40px;
    border: solid 2px #b1daec;
}
.student-name {
    width: 75%;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.spanImageSelectSize{
    width: 100%;
    float: left;
    color: #000;
    font-size: 14px;
    text-align: center;
    top: -2px;
    position: relative;
}
.uploadImg{
    height: 40px;
    top: 17px;
}
.uploadImg button{
    left: 47px;
    width: 133px;
    padding: 3px 2px;
}
.uploadImg input{
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    height: 28px;
    padding-top: 1px;
    padding-bottom: 2px;
}
/* ======================modal-custom style================================= */
.modal-top-form-area {
    background: #fff;
    padding: 13px;
    border: solid #e4e8e4 6px;
    position: relative;
}
.footer-custom .btn {
    margin: 0px;margin-left: 1px;
}
.footer-custom .btn:first-child{
    border-radius: 4px 0px 0px 4px !important;
}
.footer-custom .btn:last-child{
    border-radius: 0px 4px 4px 0px  !important;
}

/* ============student-profile-avatar ==================*/
.student-profile-avatar {
    width: 160px;
    min-height: 166px;
    border: solid 3px #d8e4ea;
    padding: 5px;
    margin-top: 41px;
    background: #fff;
    /* box-shadow: 0px 0px 2px #fff; */
}
.student-profile-avatar img{
    width: 100%;
    height: 150px;
}
.modal-content{
    border-radius: 20px;
}
/* ==================custom tab====================== */
.custom-tab {
    border: solid 4px #bec1ad;
    min-height: 60px;
    margin-top: 32px;
    border-radius: 9px;
}
.custom-tab ul.nav.nav-tabs{
	background-color: #ffffff;
    width: 96%;
    margin: auto;
    padding: 4px;
    box-shadow:0px 1px 5px #8aa776;
    margin-top: -20px;
    border-radius: 40px;
}
.custom-tab .tab-content {
    border: 0px;
}
.custom-tab .nav-tabs li a {
    border: 0px;
	border-radius: 20px;margin: 0px;
	padding: 2px 16px;
    color: #3d8423;
}
.custom-tab .nav-tabs .nav-link.active {
    color: #fff;
    margin: 0px;
    border-radius: 20px;
    background: -moz-linear-gradient(to right, #479e35  0%, #bcbd68 100%);
	background: -webkit-linear-gradient(to right, #479e35 0%, #bcbd68 100%);
	background: -ms-linear-gradient( to right, #479e35 0%, #bcbd68 100%);
    background:linear-gradient(to right, #479e35 0%, #bcbd68 100%);
    position: relative;

}
.custom-tab .nav-tabs .nav-link.active:after {
    width: 10px;
    height: 10px;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    border-top: solid 7px #88af51; 
    border-bottom: solid 7px transparent;
    content: '';
    position: absolute; 
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: -13px;
}
.custom-tab .nav-tabs {
    border-bottom: 0px;
}
/* .ab-flex-direction .nav-tabs {
    display: flex;
    flex-direction: row;flex-wrap: inherit;
} */


.custom-tab-less-padd ul.nav.nav-tabs{
    width: 97%;
}
.custom-tab-less-padd .nav-tabs li a{
    padding: 2px 7px;font-size: 14.5px;
}
/*===================end custom-tab==================== */


/*========================== field css==================== */
.round-field .form-control{
    padding: .2rem .75rem; font-size: 14px;
}
.round-field .form-select{
    padding: .2rem .75rem;font-size: 14px;
}
.round-field .form-label {
    font-size: 14px;
}
.bold-title {
    border-left: #a7cc9b solid 2px;
    width: auto;
    padding: 1px 7px;
    text-align: center;
    color: #36a514;
    display: inline-block;
    margin: 0px;
    font-size: 17px;margin-bottom: 22px;
  
}

/* custom-table */

.custom-table{
    border: 1px solid #a8d7ea;
    padding: 2px;
}
.custom-table th {
    background: #dff2f4;
    color: #000;
    font-size: 15px;
    font-weight: normal;
    padding: 3px 6px;
}

/* custom-ngselect */
.custom-ngselect{
    padding: 0px !important;
}

.custom-ngselect .ng-select-container{
    height: 27px !important;
    min-height: 27px !important;
    border:0px !important;
}

