
<lib-menu-item [navMenuList]="navMenuList" ></lib-menu-item>


<!-- <nav>
    <li>
      <a routerLink="/{{basePath}}/dashboard" style="font-weight: bold;color: green"> Home </a>
    </li>
      <li>
        <a style="font-weight: bold;color: green">Administration  </a>
        <ol>
          <nav>      
            <li><a routerLink="/{{basePath}}/administration/dashboard" > Dashboard</a></li>   
          </nav>
        </ol>
      </li>
      <li>
        <a style="font-weight: bold;color: green"> Student</a>
        <ol>
          <nav>    
            <li><a routerLink="/{{basePath}}/student/dashboard">Dashboard</a></li>  
            <li><a routerLink="/{{basePath}}/student/student-list">Student List</a></li>  
          </nav>
        </ol>
      </li>  
      <li>
        <a style="font-weight: bold;color: green"> Teacher</a>
        <ol>
          <nav>    
            <li><a routerLink="/{{basePath}}/teacher/dashboard">Dashboard</a></li>  
            <li><a routerLink="/{{basePath}}/teacher/List">Teacher List</a></li>  
          </nav>
        </ol>
      </li>   
      <li>
        <a style="font-weight: bold;color: green"> Security & Settings</a>
        <ol>
          <nav>    
            <li><a routerLink="/{{basePath}}/security-settings/dashboard">Dashboard</a></li>  
            <li><a routerLink="/{{basePath}}/security-settings/add">Security Add</a></li>  
          </nav>
        </ol>
      </li> 

      <li><a routerLink="/{{basePath}}/login" style="font-weight: bold;color: red"> Logout</a></li>
      <li><a href="#" (click)="onLogout()" style="font-weight: bold;color: red"> Logout</a></li>
</nav> -->

