<div class="all-wrapper">
  <div class="state-overview">
    <div class="all-content-wrapper">
      <div class="dataTables_wrapper">
        <!-- crud-header -->
        <div class="crud-header">
          <div class="row">
            <div class="col-md-12 text-end">
              <button
                (click)="addStudentModal()"
                type="button"
                class="btn btn-info"
              >
                <i class="fas fa-plus me-1"></i>Add
              </button>
              <button type="button" class="btn btn-warning">
                <i class="far fa-edit me-1"></i>Edit
              </button>
              <button type="button" class="btn btn-danger">
                <i class="far fa-trash-alt me-1"></i>Delete
              </button>
            </div>
          </div>
        </div>
        <!--end crud-header -->

        <div class="col-md-12">
          <div class="custom-table-responsive table-white-space">
            <table #studentgridList class="row-border hover"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
