<div class="pt-4 pb-4 p-2">
  <form
    [formGroup]="studentEducationFormGroup"
    (change)="saveStudentEducation()"
  >
    <div class="row m-0 p round-field" formGroupName="studentEducationInfo">
      <div class="col-md-4 mt-2">
        <label for="Course" class="form-label mb-0">Course Name</label>
        <select id="Course" class="form-select" formControlName="courseName">
          <option selected>Choose...</option>
          <option>Course</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <label for="Course" class="form-label mb-0">Course Name</label>
      <select id="Course" class="form-select">
        <option selected>Choose...</option>
        <option>Course</option>
      </select>
    </div>
    <div class="col-md-4 mt-2">
      <label for="Rool" class="form-label mb-0">Rool No</label>
      <input type="text" class="form-control" id="Rool" />
    </div>

    <div class="col-md-4 mt-2">
      <label for="Institution" class="form-label mb-0">Institution</label>
      <input
        type="text"
        class="form-control"
        id="Institution"
        formControlName="institutionName"
      />
    </div>

    <div class="col-md-4 mt-2">
      <label for="Passing" class="form-label mb-0">Admission Year</label>
      <input
        type="text"
        class="form-control"
        id="Passing"
        formControlName="admissionYear"
      />
    </div>
    <div class="col-md-4 mt-2">
      <label for="Majors" class="form-label mb-0">Major Subject</label>
      <input
        type="text"
        class="form-control"
        id="Majors"
        formControlName="mejorSubject"
      />
    </div>
    <div class="col-md-4 mt-2">
      <label for="Board" class="form-label mb-0">Board Name</label>
      <select id="Board" class="form-select" formControlName="boardName">
        <option selected>Choose...</option>
        <option>Course</option>
      </select>
    </div>
  </form>
</div>
