
<div class="modal-content">
    <div class="modal-header border-bottom-0">
     
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteModalRef.hide()"> <i class="fas fa-arrow-left"></i> </button>
    </div>
    <div class="modal-body pb-5">
            <div class="row">
                <div class="col-md-12 text-center mt-2">
                    <p class="p-warning">Do you want to Delete?</p>
                  </div>
                <div class="col-md-12 text-center mt-1">
                    <button class="btn btn-success btn-confi-all" (click)="deleteInstitute()">YES</button>
                    <button class="btn btn-danger btn-confi-all" (click)="deleteModalRef.hide()">NO</button>
                </div>
            </div>
    </div>
    
    <!-- <div class="modal-footer footer-custom">
      <button type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="deleteUserModalRef.hide()">Close</button>
    </div> -->
  </div>
  
 