<div class="modal-content">
    <div class="modal-header border-bottom-0">
      <h4 class="modal-title" id="exampleModalLabel">Add Teacher</h4>
      <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="teacherModalRef.hide()"
        > <i class="fas fa-arrow-left"></i> </button>
    </div>
    <div class="modal-body">
      <div class="modal-top-form-area pb-0 pt-2">
        <div class="row">
          <div class="col-md-9">
            <div class="row round-field">
              <div class="col-md-6 mt-2">
                <label for="User" class="form-label mb-0">ID</label>
                <input  type="text" class="form-control"/>
              </div>
              <div class="col-md-6 mt-2">
                <label for="User" class="form-label mb-0">Teacher Name</label>
                <input  type="text" class="form-control"/>
              </div>
            </div>
            <div class="row round-field">
                <div class="col-md-6 mt-2">
                    <label for="Organization" class="form-label mb-0">Department</label>
                    <ng-select [items]="department" 
                    bindLabel="name" 
                    bindValue="id" 
                    class="form-control custom-ngselect">
                    </ng-select>
                  </div>
              <div class="col-md-6 mt-2">
                <label for="Company" class="form-label mb-0">Designation</label>
                <ng-select [items]="Designation" 
                bindLabel="name" 
                bindValue="id" 
                class="form-control custom-ngselect">
                </ng-select>
              </div>
             
            </div>

            <div class="row round-field">
                <div class="col-md-6 mt-2">
                    <label for="id" class="form-label mb-0">Type</label>
                    <ng-select [items]="type" 
                bindLabel="name" 
                bindValue="id" 
                class="form-control custom-ngselect">
                </ng-select>
                  </div>
                  <div class="col-md-6 mt-2">
                    <label for="id" class="form-label mb-0">Status</label>
                    <select class="form-select">
                    <option selected="">Active</option>
                    <option value="1">Inactive</option>
                   
                  </select>
                  </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="student-profile-avatar mt-30">
              <div class="patientPic">
                   <img alt="Patient Picture" src="{{ profileAvatar }}" />
                   <p class="uploadImg text-center py-3">
                  <button class="btn btn-info" type="button">
                  <input class="form-control" type="file" />
                  Select Image
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 bg-status-all">
          <div class="col-md-4">
            <div class="form-check form-switch">
              <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  checked
                 
                />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Active Status</label
                >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check form-switch">
              <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault2"
                  checked
                  
                />
              <label class="form-check-label" for="flexSwitchCheckDefault2"
                  >Expiry Status</label
                >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check form-switch">
              <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault3"
                  checked
                  
                />
              <label class="form-check-label" for="flexSwitchCheckDefault3"
                  >Account Enabled?</label
                >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer footer-custom">
      <button type="button" class="btn btn-primary"> Save </button>
      <button
          type="button"
          class="btn btn-danger"
          (click)="teacherModalRef.hide()"
        > Close </button>
    </div>
  </div>
  