.bg-status-all{
    background: #e4e8e4;
    margin: 0px;
    border-radius: 7px 6px 0px 0px;
    padding-top: 10px;
}
.mt-30{
    margin-top: 30px;
}
.student-profile-avatar {
    min-height: 156px;
}
.student-profile-avatar img{
    height:105px;
}
.uploadImg {
    top: -5px;
    position: relative;margin: 0px;
}