    <!-- page-bar  -->
    <div class="col-md-12">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class="float-start">
                    <div class="page-title">All Students</div>
                </div>
                <ol class="breadcrumb page-breadcrumb float-end">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>
                    </li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li class="active">All Students</li>
                </ol>
            </div>
        </div>
       </div>
<!-- end page-bar  -->