<single-spa-router>

  <route default>
    <application name="@educare/student"></application>
  </route>


  <main>

    <route path="/educare/administration">
      <application name="@educare/administration"></application>
    </route>
    
    <route path="/educare/student">
      <application name="@educare/student"></application>
    </route>
    
    <route path="/educare/teacher">
      <application name="@educare/teacher"></application>
    </route>

    <route path="/educare/security-settings">
      <application name="@educare/security-settings"></application>
    </route>
    <route path="/educare/institute">
      <application name="@educare/institute"></application>
    </route>
    <route path="/educare/campus">
      <application name="@educare/campus"></application>
    </route>
    
  </main>

</single-spa-router>
