<div class="pt-4 pb-4 p-2">
  <div class="row m-0 p round-field">
    <div class="col-md-8 mt-2">
      <div class="col-md-12">
        <label for="Rool" class="form-label mb-0">Document Name</label>
        <div class="input-group">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
          />
        </div>
      </div>
      <div class="col-md-12 mt-2">
        <label for="Board" class="form-label mb-0">Document Type</label>
        <select id="Board" class="form-select">
          <option selected>Choose...</option>
          <option>Document</option>
        </select>
      </div>
      <div class="col-md-12 mt-2">
        <label for="Rool" class="form-label mb-0">Description</label>
        <div class="input-group">
          <textarea class="form-control" id="Description" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="document-file mt-3">
        <img src="{{ sigAvatar }}" alt="Signature" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-2">
    <div class="custom-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Document Name</th>
              <th scope="col">Document Type</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Document Name</td>
              <td>Document Type</td>
              <td>Description</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
