<div class="modal-content">
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="adduserModalRef.hide()">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-top-form-area pb-0 pt-2">
      <div class="row">
        <div class="col-md-9">
          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="User" class="form-label mb-0">User Type</label>
              <select id="User" class="form-select" [(ngModel)]="coreUserEntity.userTypeNo">
                <option selected="">Select user type</option>
                <option value="1">ADMIN USER</option>
                <option value="2">ORGANIZATION USER</option>
                <option value="3">DOCTOR USER</option>
                <option value="4">ANONYMOUS USER</option>
              </select>
            </div>
            <div class="col-md-6 mt-2">
              <label for="Organization" class="form-label mb-0">Organization</label>
              <ng-select [items]="organization" bindLabel="name" bindValue="id"
                [(ngModel)]="coreUserEntity.organizationNo" class="form-control custom-ngselect">
              </ng-select>
            </div>
          </div>
          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="Company" class="form-label mb-0">Company</label>
              <ng-select [items]="company" bindLabel="name" bindValue="id" [(ngModel)]="coreUserEntity.companyNo"
                class="form-control custom-ngselect">
              </ng-select>
            </div>
            <div class="col-md-6 mt-2">
              <label for="id" class="form-label mb-0">User ID</label>
              <input type="text" class="form-control" [(ngModel)]="coreUserEntity.userId" />
            </div>
          </div>

          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="Username" class="form-label mb-0">Username</label>
              <input type="text" class="form-control" [(ngModel)]="coreUserEntity.userName" />
            </div>
            <div class="col-md-6 mt-2">
              <label for="Password" class="form-label mb-0">Password</label>
              <input type="password" class="form-control" [(ngModel)]="coreUserEntity.password" />
            </div>
          </div>
          <div class="row round-field">
            <div class="col-md-6 mt-2">
              <label for="Username" class="form-label mb-0">Default Pagelink</label>
              <input type="text" class="form-control" [(ngModel)]="coreUserEntity.defaultPageLink" />
            </div>
            <div class="col-md-6 mt-2">
              <label for="date" class="form-label mb-0">Expiry Date</label>
              <input type="text" class="form-control datePicker" placement="top" bsDatepicker
                [(ngModel)]="coreUserEntity.accountExpireDate" />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="student-profile-avatar mt-30">
            <div class="patientPic">
              <img alt="Patient Picture" src="{{ profileAvatar }}" />
              <span class="spanImageSelectSize"> 255 x 265 Pixel </span>
              <p class="uploadImg text-center py-3">
                <button class="btn btn-info" type="button">
                  <input accept="image/*" class="form-control" type="file" />
                  Select Image
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 bg-status-all">
        <div class="col-md-4">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked (change)="
                checkActiveStatus(coreUserEntity.activeStatus ? '1' : '0')
              " />
            <label class="form-check-label" for="flexSwitchCheckDefault">Active Status</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2" checked (change)="
                checkAccountExpired(
                  coreUserEntity.accountExpired ? true : false
                )
              " />
            <label class="form-check-label" for="flexSwitchCheckDefault2">Expiry Status</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3" checked
              (change)="checkEnabled(coreUserEntity.enabled ? true : false)" />
            <label class="form-check-label" for="flexSwitchCheckDefault3">Account Enabled?</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer footer-custom">
    <button type="button" class="btn btn-primary" (click)="submit()">
      {{ submitTitle }}
    </button>
    <button type="button" class="btn btn-danger" (click)="adduserModalRef.hide()">
      Close
    </button>
  </div>
</div>