<header class="headerTop">
    <div class="container-fluid">
    <div class="row">
    
    <div class="col-md-1 col-sm-12 offset-md-11">
        
      <div class="btn-group">
        <div class="btn-group" dropdown>
            
            <button id="button-split" type="button" dropdownToggle class="btn dropdown-toggle dropdown-toggle-split settingHeader"
                    aria-controls="dropdown-split"><i class="fas fa-cog"></i>&nbsp;
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-custom"
                role="menu" aria-labelledby="button-split">
                <h3 class="dropdown-title"></h3>
             <br> <br> <br> 
             
              <li role="menuitem" class="text-center"><a class="dropdown-item logOut" href="#">
                <button (click)="onLogout()"  type="button" class="btn btn-outline-danger btn-sm rounded-pill">
                    <i class="fas fa-sign-out-alt"></i>&nbsp;Sign Out
                </button>
              </a>
              </li>
            </ul>
          </div>

        
        <!-- <button type="button" class="btn btn-info dropdown-toggle settingHeader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-cog"></i> </button>
        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item logOut"><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</a> </div> -->
        <!-- <angular-popper>
                <div class="target-block border border-primary">
                  <a  href="#">Action</a>
                  <a  href="#">Another action</a>
                  <a  href="#">Something else here</a>
                  <div ></div>
                  <a class="logOut"><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</a>
                 </div>          
                 <div content>Popper content</div> 
              </angular-popper> --> 
      </div>
    </div>
    </div>
    </div>
  </header>