header.headerTop {
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    min-height: 54px;border-right: solid 20px #cde6f7;
}
header.headerTop:after {
    border-left: solid 0px transparent;
    border-bottom: solid 25px #eaeef3;
    border-top: solid 26px #eaeef3;
    border-right: solid 20px transparent;
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 21px;
    height: 54px;
}
.settingHeader{
    background: transparent !important;
    border: 0px;margin-top:11px;
    color: #999 !important;
}

.show>.btn-info.dropdown-toggle.settingHeader:focus{box-shadow: none;}
.show>.btn-info.dropdown-toggle.settingHeader{background: transparent; color: #999;}
.settingHeader:focus{box-shadow: none;}
.settingHeader:not(:disabled):not(.disabled):active:focus{box-shadow: none;}
.settingHeader:not(:disabled):not(.disabled):active{    color: #999;
    background-color: transparent;
    border-color: transparent;}
    .headerTop .dropdown-menu.show {
        margin-top: 13px;
    }
    .logOut{ background-color: #961d14; color:#fff !important;}

    
  .dropdown-custom{
    inset: 100% auto auto -508% !important;
    width: 300px;
    margin-top: 23px !important;
    border: 1px solid #186fad;
    box-shadow: 0 0 5px #b1b1b3;padding: 0px !important;
  }
   
  .dropdown-custom:before {
    display: block;
    content: '';
    width: 20px;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #186fad;
    border-right: 10px solid transparent;
    position: absolute;
    right: 4px;
    top: -20px;
    /* box-shadow: 0px 0px 2px #999 inset; */
}
       
.dropdown-title{
    width: 100%;
    height: 30px;
    background: #186fad;
}
.logOut{
    background-color: #f0f3f7;
    color: #dc3545!important;
    border-top: 1px solid #d0d3d6;
    position: relative;
    padding-top: 10px;
    padding-bottom:10px;border-radius: 0px 0px 4px 4px;
}
.logOut .btn {
    padding: 2px 15px !important;
    font-size: 14px !important;
}