.document-file {
    width: 100%;
    border: solid 4px #e4e8e4;
    padding: 5px;
}
.document-file img{
    width: 100%;
    height: 184px;
    object-fit: contain;
}
.tea-sig {
    border: solid 1px #bad0ae;
    text-align: center;
    padding: 6px;
    font-size: 17px;
    color: #63a641;
    margin-top: 4px;
}