

    <div class="col-md-3 mt-2 offset-md-5 mt-5 mb-5">
        <div class="document-file mt-3">
            <img src="{{sigAvatar}}" alt="">
        </div> 
        <h6 class="tea-sig">Teacher Signature</h6>
    </div>

