<div class="pt-4 pb-4 p-2">
    <div class="row m-0 p round-field">
        <div class="col-md-6 mt-2">
            <label for="Award" class="form-label mb-0">Award Name</label>
            <input type="text" class="form-control" id="Award">
        </div>
        <div class="col-md-6 mt-2">
            <label for="Given" class="form-label mb-0">Given By</label>
            <input type="text" class="form-control" id="Given">
        </div>
        <div class="col-md-8 mt-2">
            <label for="Institution" class="form-label mb-0">Instituion</label>
            <input type="text" class="form-control" id="Institution">
        </div>
        <div class="col-md-4 mt-2">
            <label for="AwardDate" class="form-label mb-0">Award Date</label>
            <input type="text" class="form-control datePicker" bsDatepicker placement="top">
        </div>


        <div class="col-md-12 mt-2">
            <label for="Rool" class="form-label mb-0">Description</label>
            <div class="input-group">
                <textarea class="form-control" id="Description" rows="2"></textarea>
            </div>
        </div>
    </div>
</div>