<div class="container">
    <div class="col-4"></div>
    <div class="col-4"> 
        <p><strong>Page Not Found(404)</strong></p>
        <button type="button" class="btn btn-warning" 
        routerLink="/educare/dashboard" >Home</button>
    </div>
    
</div>
