<div class="pt-4 pb-4 p-2">
    <div class="row m-0 p round-field">
        <div class="col-md-8 mt-2">
            <label for="Achievement" class="form-label mb-0">Achievement Name</label>
            <input type="text" class="form-control" id="Achievement">
        </div>

        <div class="col-md-4 mt-2">
            <label for="Country" class="form-label mb-0">Achievement Date</label>
            <input type="text" class="form-control datePicker" bsDatepicker placement="top">
        </div>
        
        <div class="col-md-10 mt-2">
            <label for="Institution" class="form-label mb-0">Institution Name</label>
            <input type="text" class="form-control" id="Institution">
        </div>
        <div class="col-md-2 mt-2">
            <div class="form-check mt-4">
                <input class="form-check-input" type="checkbox" id="Status">
                <label class="form-check-label" for="Status">
                    Status
                </label>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <label for="Rool" class="form-label mb-0">Description</label>
            <div class="input-group">
                <textarea class="form-control" id="Description" rows="2"></textarea>
            </div>
        </div>
    </div>
</div>